{% extends 'base.html' %}

{% block titulo %}Inicio{% endblock %}

{% block contenido %}
<div class="row">
    <div class="col-lg-12 text-center mb-4">
        <h1 class="display-4 text-primary">Bienvenido al Sistema de Administración Uber</h1>
        <p class="lead">Gestione eficientemente la información de Choferes, Pasajeros y Viajes.</p>
    </div>
</div>

<div class="row">
    <div class="col-lg-6 mx-auto">
        <div class="card shadow-lg">
            <img src="https://i.blogs.es/4493f9/uber-beneficios-para-socios-conductores/1366_2000.jpeg" class="card-img-top" alt="Imagen de Uber" style="max-height: 400px; object-fit: contain;">
            <div class="card-body text-center">
                <h5 class="card-title">Plataforma de Transporte y Movilidad</h5>
                <p class="card-text">"El futuro de la movilidad está aquí. Administre sus recursos con la mejor tecnología."</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}